@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
    position: sticky;
    top: 0;
    overflow: auto;
}
nav h2{
    float: left;
    font-weight: 800;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
nav ul{
    float: right;
}
nav li{
    display: inline;
    padding: 10px;
    margin-left: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
}

/*jumbotron*/
.jumbotron{
    background-image: url(/assets/background-jumbotron.jpg);
    height: 60vh;
    position: relative;
    object-fit: cover;
    object-position: center;
}
.jumbotron h1{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 25vh;
}






/*Mobile layout*/
@media screen and (max-width:625px){
    /*navbar*/
    nav{
        width: 100%;
    }
    .wrapper{
        text-align: center;
    }
    nav h2{
        float: none;
        display: block;
        text-align: center;
        padding: 20px;
    }
    nav ul{
        float: none;
        display: inline-block;
        margin:auto;
    }
    nav li{
        display: inline-block;
    }
    
    /*jumbotron*/
    .jumbotron{
        height: 40vh;
    }
    .jumbotron h1{
        padding-top: 15vh;

    }
}
